/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

#single-product .gallery-holder {
  width: 37%;
}
#single-product .body-holder {
  width: 63%;
}
#single-product .body-holder .body {
  padding: 0 37px;
}
#single-product .body-holder .body .availability {
  margin: 0 0 0 21px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}
#single-product .body-holder .body .title a {
  letter-spacing: -1px;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
#single-product .body-holder .body .brand {
  line-height: 22px;
  padding-bottom: 7px;
  font-size: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
}
#single-product .body-holder .stButton .stFb,
#single-product .body-holder .stButton .stTwbutton,
#single-product .body-holder .stButton .stMainServices {
  height: 23px;
}
#single-product .body-holder .social-row,
#single-product .body-holder .buttons-holder {
  display: inline-block;
  vertical-align: top;
}
#single-product .body-holder .buttons-holder {
  margin: 0 0 0 10px;
}
#single-product .body-holder .buttons-holder .btn-add-to-wishlist {
  margin: 0 20px 0 0;
}
#single-product .body-holder .excerpt {
  margin: 22px 0 ;
}
#single-product .body-holder .price-current {
  font-size: 40px;
  font-weight: 700;
  color: #28124A;
  display: inline-block;
  vertical-align: top;
}
#single-product .body-holder .price-prev {
  font-size: 20px;
  font-weight: 600;
  color: #e0e0e0;
  text-decoration: line-through;
  vertical-align: bottom;
  line-height: 40px;
  margin: 0 0 0 16px;
  display: inline-block;
  vertical-align: top;
}
#single-product .body-holder .qnt-holder {
  margin: 24px 0;
  display: inline-block;
  vertical-align: top;
}
#single-product .body-holder #addto-cart {
  margin: 0px 0 0 18px;
}
#single-product .single-product-gallery-item {
  padding-bottom: 40px;
}
#single-product .single-product-gallery-item img {
  width: 433px;
}
#single-product .product-item-holder {
  border: none;
}
#single-product .product-item-holder .owl-wrapper-outer {
  border: 1px solid #e0e0e0;
}
#single-product .gallery-thumbs {
  margin: 10px 0 0 0;
}
#single-product .gallery-thumbs .owl-wrapper-outer {
  border: none;
}
#single-product .gallery-thumbs img {
  width: 67px;
}
#owl-single-product .single-product-gallery-item > a {
  display: inline;
}
#owl-single-product-thumbnails .owl-wrapper-outer {
  width: 100.1%;
}
#owl-single-product-thumbnails .owl-item .horizontal-thumb {
  border: 1px solid #e0e0e0;
  display: block;
  border-right-width: 0;
}
#owl-single-product-thumbnails .owl-item:last-child .horizontal-thumb {
  border-right-width: 1px;
}
.single-product-gallery-thumbs .nav-holder {
  display: none;
}
.single-product-gallery-thumbs .nav-holder:hover {
  opacity: 1;
}
.single-product-gallery-thumbs:hover .nav-holder {
  display: block;
  opacity: 0.8;
}

.single-product-gallery .single-product-gallery-item {
  display: inline-block;
}
.single-product-gallery .single-product-gallery-item a {
  display: block;
  padding: 20px;
}
.single-product-gallery .gallery-thumbs {
  position: relative;
  margin: 0px 20px 0px 9%;
  text-align: left;
}
.single-product-gallery .gallery-thumbs .nav-holder {
  position: absolute;
  background-color: #fff;
  width: 23px;
  padding: 3px;
  top: 0px;
  height: 100%;
  z-index: 50;
}
.single-product-gallery .gallery-thumbs .nav-holder.right {
  right: 0;
}
.single-product-gallery .gallery-thumbs .nav-holder.left {
  left: 0;
}
.single-product-gallery .gallery-thumbs .next-btn,
.single-product-gallery .gallery-thumbs .prev-btn {
  background-color: #e0e0e0;
  border-radius: 2px;
  position: absolute;
  z-index: 100;
  height: 90%;
  width: 90%;
  display: inline-block;
  vertical-align: top;
}
.single-product-gallery .gallery-thumbs .next-btn:after,
.single-product-gallery .gallery-thumbs .prev-btn:after {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  height: 30px;
  font-family: fontawesome;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.single-product-gallery .gallery-thumbs .next-btn {
  right: 0;
}
.single-product-gallery .gallery-thumbs .next-btn:after {
  content: "\f105";
}
.single-product-gallery .gallery-thumbs .prev-btn {
  left: 0;
}
.single-product-gallery .gallery-thumbs .prev-btn:after {
  content: "\f104";
}
.single-product-gallery .gallery-thumbs .item,
.single-product-gallery .gallery-thumbs li {
  display: inline-block;
  float: left;
}
.single-product-gallery .gallery-thumbs .item a,
.single-product-gallery .gallery-thumbs li a {
  display: inline-block;
  border: 1px solid #e0e0e0;
  min-height: 60px;
}
